<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--在64位的pc上运行，必须设置此配置-->
    <add key="7zLocation" value="7z64.dll"/>
    <!--deb存放的目录-->
    <add key="DebPath" value="E:\Projects\Cydia\debs\"/>
    <!--deb解压的临时目录-->
    <add key="TempPath" value="E:\Projects\Cydia\temp"/>
    <!--package存放目录，就是从deb里面解析出来的control信息，多个deb之间的信息用换行隔开-->
    <add key="PackagePath" value="E:\Projects\Cydia"/>
  </appSettings>
</configuration>